In [2]:
import pandas as pd
import numpy as np

In [3]:
insurance_data = pd.read_csv("insurance.txt", delimiter=',')

In [4]:
insurance_data

      age     bmi  children      charges
0      19  27.900         0  16884.92400
1      18  33.770         1   1725.55230
2      28  33.000         3   4449.46200
3      33  22.705         0  21984.47061
4      32  28.880         0   3866.85520
...   ...     ...       ...          ...
1333   50  30.970         3  10600.54830
1334   18  31.920         0   2205.98080
1335   18  36.850         0   1629.83350
1336   21  25.800         0   2007.94500
1337   61  29.070         0  29141.36030

[1338 rows x 4 columns]

In [9]:
norm_insu_data = ((insurance_data-insurance_data.mean())/(insurance_data.std()))
norm_insu_data.insert(0, 'x0', 1) #x0 is appeneded to allow for the zeroth order term

In [10]:
#normalised data frame

norm_insu_data

      x0       age       bmi  children   charges
0      1 -1.438227 -0.453151 -0.908274  0.298472
1      1 -1.509401  0.509431 -0.078738 -0.953333
2      1 -0.797655  0.383164  1.580335 -0.728402
3      1 -0.441782 -1.305043 -0.908274  0.719574
4      1 -0.512957 -0.292447 -0.908274 -0.776512
...   ..       ...       ...       ...       ...
1333   1  0.768185  0.050278  1.580335 -0.220468
1334   1 -1.509401  0.206062 -0.908274 -0.913661
1335   1 -1.509401  1.014499 -0.908274 -0.961237
1336   1 -1.295877 -0.797515 -0.908274 -0.930014
1337   1  1.551106 -0.261290 -0.908274  1.310563

[1338 rows x 5 columns]

In [7]:
#creating a list of 20 data_frames that have been shuffled

dataset_list=list()
dataset_list.append(norm_insu_data.sample(frac=1))
for i in range(1,20):
    dataset_list.append(dataset_list[-1].sample(frac=1))

In [8]:
# Splitting the datasets into testing and training

training_data_list = [None]*20
testing_data_list = [None]*20

for i in range(20):
    training_data_list[i] = dataset_list[i].sample(frac=0.7)
    testing_data_list[i] = dataset_list[i].drop(training_data_list[i].index)

In [ ]:
indep_attrs = ["x0", "age", "bmi", "children"]
dep_attr = ["charges"]
testing_err_norm = []
training_err_norm = []
for i in range(20):
    X = training_data_list[i][indep_attrs].to_numpy() # X is the design matrix
    Y = training_data_list[i][dep_attr].to_numpy()